.header{
    margin-bottom: 3em;
}

img.hidden{
    display:none;
}

/* jQuery Validate error messages class*/
.error{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width:992px){

    h1{
        font-size: 2.5em;
    }
}

@media (min-width:768px) and (max-width:991px){

    h1{
        font-size: 2em;
    }
}

@media (max-width:767px){

    h1{
        font-size: 2em;
    }
}

@media (max-width:479px){

    h1{
        font-size: 1.5em;
    }
}